./course-info.yaml
./course-remote-info.yaml
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Music Player/*/*
!/Music Player/task/src
!/Music Player/task/build.gradle
course-remote-info.yaml
course-info.yaml